html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  height: 100%;
}

.ReactVirtualized__Grid {
  outline: none;
}

.inputpass ::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 10;
}

.MuiTreeItem-label {
  font-size: 14px!important
}

button:focus {
  outline:0;
}

/*
.rst__tree .ReactVirtualized__Grid {
  overflow: hidden!important;
} */

.apppage:focus { outline: none; }

.BaseTable > * :focus { outline: none; }


.BaseTable__header-cell, .BaseTable__row-cell {
  -webkit-box-shadow: inset 0 -1px 0 rgba(16,22,26,.15), inset -1px 0 0 rgba(16,22,26,.15);
    box-shadow: inset 0 -1px 0 rgba(16,22,26,.15), inset -1px 0 0 rgba(16,22,26,.15);
}

.BaseTable__row-cell {
  padding: 0 4px!important;
}

.mosaic-window-body {
  background-color:  #fafafa!important;
}

.bp3-input:focus {
  box-shadow: 0 0 0 0 rgba(19, 124, 189, 0), 0 0 0 0 rgba(19, 124, 189, 0), inset 0 0 0 1px rgba(16, 22, 26, 0.15), inset 0 1px 1px rgba(16, 22, 26, 0.2);
}

.bp3-transition-container {
  z-index: 1500;
}

.bp3-popover-backdrop {
  z-index: 1400;
}

.custom-picker.shadow-picker {
  width: 255px;
  height: 255px;
	background: #fff;
	color: rgba(0, 0, 0, 0.87);
}
.custom-picker .shadow-picker__position {
	border: 1px solid #e0e0e0;
}
.custom-picker .shadow-picker__position.active {
  color: #fafafa;
	background: #3d7afc;
}
.custom-picker .shadow-picker__grid {
	border: 1px solid #e0e0e0;
}
.custom-picker .shadow-picker__grid-line {
	color: #f0f0f0;
}
.custom-picker .shadow-picker__grid-handle {
	color: #3d7afc;
}
.custom-picker .shadow-picker__input {
	border: 1px solid #e0e0e0
}
.custom-picker .shadow-picker__slider {
	background: #9E9E9E;
}
.custom-picker .shadow-picker__slider::-webkit-slider-thumb {
	background: #3d7afc;
}

.sc-fzokOt .shadow-picker__input {
  display: none;
}

.custom-picker input[type="color"] {
  margin-left: 8px;
  width: 60px;
  margin-right: 8px;
}

.gp {
  margin-top: 6px;
}

.gp .palette {
  margin-top: 6px;
}

.gp .csh {
  margin-bottom: 0px;
}

.sketch-picker {
  box-shadow: unset!important;;
}
.MuiSelect-select:focus {
  background-color: unset!important;
}

input.core:focus {
  outline: none;
}

.nb .MuiIconButton-label {
  height: 16px;
}
.nb .MuiSvgIcon-fontSizeSmall {
  height: 18px;
  width: 18px;
}

.nb2 .MuiIconButton-label {
  height: 14px;
}
.nb2 .MuiSvgIcon-fontSizeSmall {
  height: 18px;
  width: 18px;
  font-size: 12px;
}

.nb2 .MuiSvgIcon-root {
  font-size: 18px;
  pointer-events: none;
}

.MuiTreeItem-group {
  padding-left: 12px!important;
}

.MuiStepLabel-label.MuiStepLabel-alternativeLabel {
  margin-top: 8px!important;
  font-size: 0.75rem;
}

.MuiStepIcon-root.MuiStepIcon-completed {
  color: #4CAF50!important;
}

.ptro-info {
  opacity: 0;
}


.tool-controls {
  margin-left: 8px;
}
