.toolbarButton:hover {
  background-color: #0288d1;
}
.toolbarButton:active {
  background-color: #0288d1;
}

@keyframes expand {
  from {
    height: 0;
  }
}

.test {
  animation: expand .25s ease-in-out;
}