.toolbarSectionButton:hover {
  background-color: #0288d1;
}
.toolbarSectionButton:active {
  background-color: #0288d1;
}

.toolbarSectionButtonInner:hover {
  background-color: #c36402;
}
.toolbarSectionButtonInner:active {
  background-color: #c36402;
}

@keyframes expand {
  from {
    height: 0;
  }
}

.test {
  animation: expand .25s ease-in-out;
}