html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  height: 100%;
}

.ReactVirtualized__Grid {
  outline: none;
}

.inputpass ::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 10;
}

.MuiTreeItem-label {
  font-size: 14px!important
}

button:focus {
  outline:0;
}

/*
.rst__tree .ReactVirtualized__Grid {
  overflow: hidden!important;
} */

.apppage:focus { outline: none; }