html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  height: 100%;
}

.ReactVirtualized__Grid {
  outline: none;
}

.inputpass ::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 10;
}

.MuiTreeItem-label {
  font-size: 14px!important
}

button:focus {
  outline:0;
}

/*
.rst__tree .ReactVirtualized__Grid {
  overflow: hidden!important;
} */

.apppage:focus { outline: none; }

.BaseTable > * :focus { outline: none; }


.BaseTable__header-cell, .BaseTable__row-cell {
  -webkit-box-shadow: inset 0 -1px 0 rgba(16,22,26,.15), inset -1px 0 0 rgba(16,22,26,.15);
    box-shadow: inset 0 -1px 0 rgba(16,22,26,.15), inset -1px 0 0 rgba(16,22,26,.15);
}

.BaseTable__row-cell {
  padding: 0 4px!important;
}

.mosaic-window-body {
  background-color:  #fafafa!important;
}

.bp3-input:focus {
  box-shadow: 0 0 0 0 rgba(19, 124, 189, 0), 0 0 0 0 rgba(19, 124, 189, 0), inset 0 0 0 1px rgba(16, 22, 26, 0.15), inset 0 1px 1px rgba(16, 22, 26, 0.2);
}

.bp3-transition-container {
  z-index: 1500;
}

.bp3-popover-backdrop {
  z-index: 1400;
}

input.core:focus {
  outline: none;
}

.rc-time-picker-panel {
  z-index: 10000!important;
}

.rc-time-picker-input {
  outline: none;
  color: rgba(0, 0, 0, 0.87)!important;
  border: 1px solid #9E9E9E!important;
  background-color: unset!important;
}

.dygraph-label-rotate-left {
  left: -125px!important;
  transform: rotate(270deg)!important;
  -webkit-transform: rotate(270deg)!important;
  -moz-transform: rotate(270deg)!important;
  -o-transform: rotate(270deg)!important;
  -ms-transform: rotate(270deg)!important;
}

.sortableHelper {
  z-index: 9999!important;
  overflow: hidden;
}

.BaseTable__header-cell {
  padding-left: 15px!important;
  padding-right: 32px!important;
}

.BaseTable__header-handle:hover {
  background-color: rgba(0,0,0,.1);
  transition: background-color .3s ease-out;
  -moz-transition: background-color .3s ease-out;
  -webkit-transition: background-color .3s ease-out;
  -o-transition: background-color .3s ease-out;
}

.vis-timeline {
  border: unset!important;
}

.vis-text, .vis-label {
  color: unset!important;
}
.vis-grid, .vis-panel {
  border-color: unset!important;
}


.vis-panel.vis-left {
  overflow: unset!important;
}

.vis-labelset {
  overflow: unset!important;
}

