.property .mosaic-window-title {
  display: none;
}

.toolbar .mosaic-window-title {
  display: none;
}


.MuiTreeItem-root .MuiTreeItem-label {
  background-color: unset!important;
}

.Mui-selected> .MuiTreeItem-content .MuiTreeItem-label {
  background-color: unset!important;
  font-weight: 600;
}


/*


.MuiTreeItem-root:focus > .MuiTreeItem-content .MuiTreeItem-label {
  background-color: unset!important;
}

.MuiTreeItem-root:hover > .MuiTreeItem-content .MuiTreeItem-label {
  background-color: unset!important;
}



.animation .Mui-selected> .MuiTreeItem-content .MuiTreeItem-label {
  background-color: unset!important
}

.animation .Mui-selected> .MuiTreeItem-content .MuiTreeItem-label .animTitle {
  background-color: unset!important;
  font-weight: 600;
}
*/


