.BodyGrid {
  width: 100%;
}
.HeaderContainer {
  background-image: -webkit-linear-gradient(#fff,#efefef);
  background-image: linear-gradient(#fff,#efefef);
}

.HeaderGrid {
  width: 100%;
  overflow: hidden !important;
}

.headerButtonResize{
  position: absolute;
  top: 0px;
  right: 0px; 
  width: 4px;
  height: 100%;
  z-index: 100;
}

.headerButtonResize:hover {
  cursor: col-resize;
  background-color: #2196F3;
}
.headerButtonResize:active {
  cursor: col-resize;
  background-color: #2196F3;
}

.headerButtonDrag {
  position: absolute;
  top: 0px;
  left: 0px; 
  width: 16px;
  height: 100%;
  text-align: center;
  line-height: 27px;
  color: #607d8b;
}

.headerButtonDrag:hover  {
  cursor: move;
  background-color: rgba(33, 33, 33, 0.10);
}

.headerButtonDrag:active  {
  cursor: move;
  background-color: rgba(33, 33, 33, 0.10);
}

.GridColumn {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
}

.cell,
.headerCell,
.leftCell {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0 .5em;
  padding-left: 16px;
  border-right: 1px solid #d3d3d3;
  white-space: nowrap;
  overflow: hidden;
}

.headerCell,
.leftCell {
  border-right: 1px solid #d3d3d3;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  background-image: -webkit-linear-gradient(#fff,#efefef);
  background-image: linear-gradient(#fff,#efefef);
}

.headerCell {
  overflow: unset;
}

.evenRow {
}
.oddRow {
  background-color: #f6f7f8;
}

.hoverRow {
  border-top: 1px solid #9E9E9E;
  border-bottom: 1px solid #9E9E9E;
  background-color: #e3e9ec;
}

.selectRow {
  background-color: #78909c80;
}

.selectRowBorder {
  border-top: 1px solid #9E9E9E;
  border-bottom: 1px solid #9E9E9E;
  background-color: #78909c40;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}


